<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Test" value="" />
    <add key="MaxFileSizeInMB" value="150" />
    <add key="MaxResults" value="500000" />
    <add key="MaxRowsPerReport" value="1000" />
    <add key="DefaultRootFolder" value="" />
    <add key="Server" value="" />
    <add key="Database" value="" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="FileNamesChecked" value="" />
    <add key="FileContentChecked" value="" />
    <add key="ProcedureNamesChecked" value="" />
    <add key="ProcedureContentChecked" value="" />
    <add key="FunctionNamesChecked" value="" />
    <add key="FunctionContentChecked" value="" />
    <add key="ViewNamesChecked" value="" />
    <add key="ViewContentChecked" value="" />
    <add key="TableNamesChecked" value="true"/>
    <add key="TableColumnsChecked" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>