<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DefaultRootFolder" value="C:\Program Files\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Test" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MaxFileSizeInMB" value="150" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MaxResults" value="500000" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Server" value="ias-sqlsss5" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Database" value="dbIASosData" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Username" value="sa" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="chess" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FileNamesChecked" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FileContentChecked" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ProcedureNamesChecked" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ProcedureContentChecked" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FunctionNamesChecked" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FunctionContentChecked" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ViewNamesChecked" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ViewContentChecked" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>